body {
    color: whitesmoke;
}
body {
    /* serve para dar cor no fundo/body */
    background: radial-gradient(#874421, #7c3b1a,#b87733);
}
.navegacaomenu {
    /* display flex serve para deixar flexivel tudo que esta dentro do conteiner */
    display: flex; 
    /* serve para jogar o texto para o final */
     justify-content: flex-end;
}
.navegacaomenu {
    /* serve para colocar espaçamento do conteiner todo(para descolar da borda) */
    padding-right: 3rem;
    /* serve para colocar espaçamento do conteiner todo(para descolar do topo) */
    padding-top: 3rem;

}
.navegacaomenu a {
    /* serve para colocar espaçamento entre as palavras das linhas */
    padding-right: 3rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navegacaomenu {
    /* serve para mexer no tamanho da fonte das letras */
    font-size: 1.5rem;
}
.titulo-pagina {
    font-size: 30pt;
    font-weight: bold;
    /* display flex serve para deixar flexivel tudo que esta dentro do conteiner */
    display: flex;
   /* serve para colocar espaçamento do conteiner todo(para descolar da borda) */
    margin: 40px;
}
.subtitulo-pagina {
    font-size: 20pt;
    display: flex;
    padding-left: 4rem;
}
.endereço {
    display: flex;
    padding-left: 3rem;  
}