body {
    color: whitesmoke;
}
body {
    /* serve para dar cor no fundo/body */
    background: var(--cor-fundo-principal);
}
.navegacaomenu {
    /* display flex serve para deixar flexivel tudo que esta dentro do conteiner */
    display: flex; 
    /* serve para jogar o texto para o final */
     justify-content: flex-end;
}
.navegacaomenu {
    /* serve para colocar espaçamento do conteiner todo(para descolar da borda) */
    padding-right: 3rem;
    /* serve para colocar espaçamento do conteiner todo(para descolar do topo) */
    padding-top: 3rem;
}
.navegacaomenu a {
    /* serve para colocar espaçamento entre as palavras das linhas */
    padding-right: 3rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navegacaomenu {
    /* serve para mexer no tamanho da fonte das letras */
    font-size: 1.5rem;
}
.picture-title {
    font-size: 30pt;
    font-weight: bold;
    margin: 40px;
}
.picture-banner {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: flex;
    object-position: center ;
}
.picture-description {
    font-size: 10pt;
    display: flex;
    justify-content: flex-end ;
    padding-right: 3rem;
}
.paragraph-text {
    font-size: 15pt;
    margin: 40px;
}
